<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Massas para pizzas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("CSS", required: false)
</head>

<body>
    <header>

        <nav>
            <div class="nav-wrapper red darken-4">
                <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/Logo.png" alt="Massas para pizzas" width="64px">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <partial name="_NavbarLinksPartial" />
                    @* <partial name="_LoginPartial" /> *@
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <partial name="_NavbarLinksPartial" />
        </ul>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer red darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Massas pré assadas</h5>
                    <p class="grey-text text-lighten-4">Deixe-nos cuidar da base, enquanto você solta sua criatividade.
                        Nossas massas de pizza pré-assadas são o segredo para uma pizza caseira e profissional rápida e
                        saborosa.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright red darken-4">
            <div class="container">
                &copy; 2023 Massas para pizzas
                <span class="right">
                    <a class="grey-text text-lighten-3" asp-area="" asp-controller="Home"
                        asp-action="Privacy">Privacidade</a>
                </span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
