<li>
    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons left">home</i> Home</a>
</li>
<li>
    <a asp-area="" asp-controller="About" asp-action="Index"><i class="material-icons left">account_circle</i> Sobre nós</a>
</li>
<li>
    <a asp-area="" asp-controller="Contact" asp-action="Index"><i class="material-icons left">contacts</i> Contato</a>
</li>