@{
    ViewData["Title"] = "Sobre nós";
}
<section>
    <article class="grey-text text-darken-2">
        <h1 class="black-text">Sobre nós</h1>
        <p class="flow-text">Somos uma empresa que se dedica a produzir as melhores massas pré-assadas artesanais do
            mercado. Nós acreditamos que a qualidade dos ingredientes é fundamental para produzir uma massa
            pré-assada saborosa e saudável, por isso, escolhemos apenas os ingredientes de primeira linha para
            nossas receitas.</p>
        <p class="flow-text">Aqui, acreditamos que a autenticidade é essencial. Nossas massas são pré-assadas em
            pedra, o que lhes dá uma aparência autêntica de forno a lenha. Além disso, produzimos nossas massas de
            forma artesanal, para garantir que cada uma delas tenha o mesmo sabor e textura excepcionais.</p>
    </article>
</section>
<section id="img01"></section>
<section>
    <article class="grey-text text-darken-2">
        <p class="flow-text">Nossa cozinha industrial é projetada para manter a qualidade das nossas massas, e
            seguimos rigorosamente todas as normas de higiene e segurança alimentar para garantir que nossos
            produtos sejam seguros para consumo.</p>
        <div class="row">
            <p class="col s12 m6 flow-text">Sabemos que a qualidade de nossos produtos é o que nos diferencia, e é por
                isso que
                estamos sempre buscando formas de melhorar. Acreditamos que a honestidade e a transparência são
                fundamentais para construir um relacionamento de confiança com nossos clientes, e estamos sempre
                abertos para ouvir o feedback deles.</p>
            <p class="col s12 m6 flow-text">Estamos orgulhosos de oferecer massas pré-assadas de alta qualidade,
                vendidas apenas por encomenda. Nós esperamos que você experimente nossos
                produtos e desfrute de uma experiência gastronômica incrível.</p>
        </div>
    </article>
</section>
<section id="img02" style="margin-bottom: 2rem;"></section>

@section CSS {
    <style>
    #img01 {
        display: block;
        background-image: url("/imgs/background/2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 160%;
        width: 100%;
        height: 256px;
    }

    #img02 {
        display: block;
        background-image: url("/imgs/background/3.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 110%;
        width: 100%;
        height: 256px;
    }
</style>

}